@model GiftTrails.Web.Models.Gifts.IndexViewModel

@using GiftTrails.Web.Startup

@{
    ViewData["Title"] = L("GiftList");
    ViewBag.CurrentPageName = PageNames.Gifts; //The menu item will be active for this page.
}

<h2>@L("GiftList")</h2>

<table class="table">
    <thead>
        <tr>
            <th>@L("Title")</th>
            <th>@L("Description")</th>
            <th>@L("Trails No")</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gifts) {
        <tr>
            <th>@item.Title</th>
            <th>@item.Description</th>
            <th>@item.Trails.Count()</th>
        </tr>
}
    </tbody>
</table>
